@page "/"
@using StudyPlannerApplication.Domain.Features.UserManagement.SignIn
@using StudyPlannerApplication.Domain.Features.UserManagement.UserRegistration
@* @using StudyPlannerApplication.Domain.Features.UserManagement.Register *@
@inject SignInService _signInService
@inject RegisterService _registerService
@inject NavigationManager Navigation
@inject ChangePasswordService _changePasswordService
@rendermode RenderMode.InteractiveServer

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-sm p-4" style="width: 100%; max-width: 400px;">
        <div class="card-body">
            @if (_formType==EnumSignInFormType.SignIn)
            {
                <h1 class="h3 mb-3 fw-normal text-center">Sign In</h1>
                <form class="form-horizontal" id="signin-form" method="post" action="/SignIn/Index">
                    <div class="form-floating mb-3">
                        <div class="mb-3">
                            <label class="form-label">UserName</label>
                            <input class="form-control" type="text" placeholder="UserName" @bind-value="_reqModel.UserName" maxlength="11" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <div class="input-group">
                                <input class="form-control" type=@password placeholder="Password" @bind-value="_reqModel.Password" maxlength="6" />
                                <button type="button" class="btn btn-outline-secondary" @onclick="PasswordVisibility">
                                    <i class="@passwordIcon"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <a href="javascript:void(0);" @onclick="() => ChangePage(EnumSignInFormType.ForgotPassword)">Forgot your password?</a>
                    </div>
                    <button type="button" class="btn btn-primary w-100 py-2" @onclick=SignIn>Sign In</button>
                    <div class="text-center mt-3">
                        <a href="javascript:void(0);" @onclick="() => ChangePage(EnumSignInFormType.Register)">Don't have an account? Sign Up</a>
                    </div>
                </form>
            }
            else if(_formType==EnumSignInFormType.Register)
            {
                <h1 class="h3 mb-3 fw-normal text-center">Register</h1>
                <div class="form-floating mb-3">
                    <div class="mb-3">
                        <label class="form-label">UserName</label>
                        <input class="form-control" type="text" placeholder="UserName" @bind-value="_reqModel.UserName" maxlength="11" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input class="form-control" type="email" placeholder="Email" @bind-value="_reqModel.Email" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Phone No</label>
                        <input class="form-control" type="text" placeholder="Phone Number" @bind-value="_reqModel.PhoneNo" maxlength="11" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <div class="input-group">
                            <input class="form-control" type=@password placeholder="Password" @bind-value="_reqModel.Password" maxlength="6" />
                            <button type="button" class="btn btn-outline-secondary" @onclick="PasswordVisibility">
                                <i class="@passwordIcon"></i>
                            </button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Confirm Password</label>
                        <div class="input-group">
                            <input class="form-control" type=@cPassword placeholder="Confirm Password" @bind-value="_reqModel.ConfirmPassword" maxlength="6" />
                            <button type="button" class="btn btn-outline-secondary" @onclick="ConfirmPasswordVisibility">
                                <i class="@cPasswordIcon"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary w-100 py-2" @onclick=Register>Sign Up</button>
                <div class="text-center mt-3">
                    <a href="javascript:void(0);" @onclick="() => ChangePage(EnumSignInFormType.SignIn)">Already have an account? Sign In</a>
                </div>
            }
            else if (_formType == EnumSignInFormType.ForgotPassword)
            {
                <h1 class="h3 mb-3 fw-normal text-center">Forgot your password?</h1>
                <div class="form-floating mb-3">
                    
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input class="form-control" type="email" placeholder="Email" @bind-value="_reqModel.Email" />
                    </div>
                </div>
                <button type="button" class="btn btn-primary w-100 py-2" @onclick=SendEmail>Send</button>
            }
        </div>
    </div>
</div>


