.body-background {
    background: url('images/wallpaper.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.image-container {
    position: relative;
    display: inline-block;
}

.badge-overlay {
    position: absolute;
    bottom: 5px; 
    right: 5px; 
    z-index: 10; 
}
