@page "/reminder"
@using MudBlazor
@using Radzen
@using Radzen.Blazor
@using StudyPlannerApplication.App.Components.Layout
@using StudyPlannerApplication.Domain.Features.Reminder
@rendermode InteractiveServer
@inject ReminderService _reminderService
@layout MainLayout

<div class="card">
    <div class="card-header">
        <h5 class="mb-0">
            Reminder
        </h5>
    </div>
    <div class="rz-p-sm-12">
        @if (_resModel?.Data?.SubjectList?.Any()==true)
        {
            @foreach (var item in _resModel.Data.SubjectList)
            {
                <RadzenAccordion>
                    <Items>
                        <RadzenAccordionItem Text="@item.SubjectName" CollapseTitle="Collapse orders."
                                             ExpandTitle="Expand orders." CollapseAriaLabel="Collapse the order details."
                                             ExpandAriaLabel="Expand the order details.">
                            @foreach (var course in item.CourseList)
                            {
                                <MudCard>
                                    <MudCardContent>
                                        <MudText Typo="Typo.subtitle2">@course.CourseName</MudText>
                                        <MudText Typo="Typo.body2">@course.Description</MudText>
                                        <MudChip T="string" Color="Color.Warning" Size="Size.Small">@course.Status</MudChip>
                                    </MudCardContent>
                                </MudCard>
                            }
                        </RadzenAccordionItem>
                    </Items>
                </RadzenAccordion>
            }
        }
    </div>
</div>
